{% extends 'base.html' %}
{% block title %} List {% endblock %}

{% block main %}
    <div class="col">
        <form class="form-inline">
            <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="searchperson" />
                <button type="submit" class="btn btn-outline-primary">search</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col">
            <h1>Person List</h1>
            <ul>
                {% for person in persons %}
                    <li>
                        <a href="{% url 'person_update' person.id %}">{{ person.full_name|title }}</a>
                        <a href="{% url 'person_delete' person.id %}">
                            <i class="bi bi-trash"></i>
                        </a>
                    </li>
                    {% empty %}
                        <li>Sorry, no person in this list.</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col">
            <button class="btn btn-outline-info"><a href="{% url 'person_new' %}">New Person</a></button>
            <button class="btn btn-outline-info"><a href="{% url 'home' %}">Home</a></button>
            <button class="btn btn-outline-warning"><a href="{% url 'logout' %}">Logout</a></button>
        </div>


{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

